{
  "version": 6,
  "configurePresets": [
    {
      "name": "windows-vcpkg-local",
      "inherits": "windows-vcpkg",
      "displayName": "Windows x64 (local vcpkg path)",
      "cacheVariables": {
        "CMAKE_TOOLCHAIN_FILE": {
          "type": "FILEPATH",
          "value": "C:/vcpkg/scripts/buildsystems/vcpkg.cmake"
        }
      }
    }
  ]
}
